.container{
    background-color: khaki;
    border: 2px solid black;
    height: 4000px;
}
.box{
    height: 900px;
    display: inline-block;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
} 
#box3{
    /* relative : relative to its original position and will leave a gap in its original position*/
    
    /* absolute : relative to its parent position */



    /* position: absolute; */
    /* position: relative; */
    /* top: 34px; */
    /* left:34px; */
    

    /* fixed: position the element relative to browser window */
    /* position: fixed; */
    /* right: 4px;
    bottom: 2px; */ 


    /* sticky */
    position: sticky;
    top: 0px;  
    /* In sticky need to mention top/bottom/left/right even  0 also considered */
}